$sidebar-background: #ffffff;
$header-background: #f1f3f4;
$main-background: #f1f3f4;
$sidebar-text-color: #777777;
$sidebar-active-text-color: #232323;
$sidebar-active-background-color: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(215, 243, 231, 1) 100%);
$sidebar-logo-height: 60px;
